body{
	background-image: url("../images/blacksky.jpg");

}
#wrapper{
	color:#ffffff;
	width: 100%;
	height:100%;
	font-family: 'Righteous', cursive;
}

.emotions{
	width:100px;
	margin:3px;
	border:2px dotted #b4c8f8;
	background-color: #324471;
	color:#ffffff;
}

 form{
	margin-top:15%;
	margin-left: 30%;
	width:100%;
}
#submit{
	width:150px;
	margin-top: 10px;
	background-color:#b4c8f8;
	color:#324471;
	border:5px dotted #e8cbeb;

}
#gifResults{
	margin-top:5%;
	
}
.gifContainers{
	display: inline-table;
	width:30%;
	
	margin:6px;
	text-align: center;
	
	color: #324471;
	overflow: hidden;
	
	
	
}
.ratings{
	width:100%;
	margin:0 auto;
	background-color: pink;
}

img{
	width:100%;
	margin:auto auto;
	
	

}
