body{
	background-image: url("../images/blacksky.jpg");
	margin: 0;

}
#wrapper{
	color:#ffffff;
	width: 100%;
	height:100%;
	font-family: 'Righteous', cursive;
}

.emotions{
	width:100px;
	margin:10px 1px;
	background-color: #081525;
	color:#ffffff;
	border-radius: 3px;
}
.emotions:hover{
	background-color:#592D3E ;
}
 form{
	margin-top:0;
	margin-left: 10%;
	width:100%;
}

#submit{
	width:150px;
	margin-top: 10px;
	background-color:#081525;
	color:#ffffff;
	border:1px solid #e8cbeb;

}
#submit:hover{
	background-color:#592D3E ;
}
#gifResults{
	
	width:100%;
	column-count: 3;
	column-gap:0px;
	
}
.emotionChosen{
	font-size: 60px;
	color:#b5f37b;
}

.gifContainers{
	width:100%;
	color: #ffffff;
	background-color: #081525;
	display: inline-block;
	margin:0 0 1px;
	border: 1px solid #310070;

	
}
.gifContainers:hover{
	background-color:#592D3E ;
}
.ratings{
	width:100%;
	

}

img{
	width:100%;
	border-radius: 3px;
	
	
	

}
